.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    width: 721px;
    height: 100%;
    float: left;
    background-color: purple;
    position: relative;
}
.focus img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}
.newsflash {
    width: 250px;
    height: 100%;
    float: right;
    border: 1px solid #ccc;
}
.newsflash .newsflash_top {
    width: 100%;
    height: 180px;
    padding: 5px 15px 0 15px;
}
.newsflash .first_line {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.newsflash .first_line h3 {
    float: left;
}
.newsflash .first_line a {
    float: right;
}
.newsflash .second_line p {
    margin: 7px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.newsflash .second_line .second_span {
    color: #333;
    font-weight: 700;
}
.newsflash_center {
    width: 100%;
    height: 197px;
    border-bottom: 1px solid #ccc;
}
.newsflash_center > div {
    float: left;
    width: 62px;
    height: 65px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.center_image {
    height: 40px;
    background-image: url("../images/icons.png");
    background-position: 2px -5px;
    margin-bottom: 1px;
}
.center_text {
    text-align: center;
    font-size: 14px;
    color: #333;
}
.newsflash_bottom {
    padding-top: 5px;
}
.newsflash_bottom img {
    width: 100%;
    height: 100%;
}
.discount_wrapper {
    position: relative;
}
.discount {
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #f00;
    padding: 1px;
    border-radius: 40% 40% 40% 0;
    right: 0;
    top: -3px;
}

.recommend_wrapper {
    height: 163px;
    margin-top: 12px;
}
.today_recommend {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: #5c5251;
}
.today_recommend img {
    margin-top: 30px;
    margin-bottom: 10px;
}
.today_recommend div {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.today_image {
    height: 100%;
    float: left;
}
.today_image ul li {
    float: left;
}
.today_image ul li img {
    width: 100%;
    height: 100%;
    margin-left: 1px;
}
.like_title {
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
}
.like_title h2 {
    float: left;
    color: #333;
    letter-spacing: 1px;
}
.like_title .like_refresh {
    float: right;
}
.like_title .like_refresh a {
    color: #28a3ef;
    margin-right: 5px;
}
.like_content {
    height: 252px;
    border: 1px solid #ccc;
}
.like_content > div {
    float: left;
    width: 190px;
    height: 100%;
    text-align: center;
    padding: 0 30px;
    position: relative;
}
.like_content .like_desc {
    margin: 5px 0;
}
.like_content .like_price {
    color: #e03033;
    font-size: 20px;
    font-weight: 700;
}
.like_content > div:nth-child(-n + 5)::after {
    content: "";
    width: 1px;
    height: 74px;
    background-color: #bbb;
    position: absolute;
    right: 0;
    bottom: 38px;
}
.first_floor {
    height: 450px;
}
.first_floor_title {
    height: 62px;
    line-height: 62px;
    padding-top: 10px;
}
.first_floor_title h2 {
    float: left;
}
.first_floor_title ul {
    float: right;
}
.first_floor_title ul li {
    float: left;
    margin-right: 15px;
}
.first_floor_title ul li:nth-child(2n) {
    width: 1px;
    height: 12px;
    background-color: #333;
    margin-top: 25px;
}
.first_floor_title ul li:first-child a {
    color: red;
}
.first_floor_content {
    border-top: 2px solid #e03033;
    border-bottom: 1px solid #999;
    height: 381px;
}
.first_floor_content > div {
    float: left;
}
.left_1 {
    width: 210px;
    height: 378px;
    margin-left: -74px;
}
.left_1 ul {
    width: 100%;
    margin-top: 20px;
}
.left_1 ul li {
    float: left;
    width: 40%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}
.left_2 {
    width: 329px;
    height: 378px;
    position: relative;
}
.left_2 img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 2s;
    opacity: 0;
}
.left_3 {
    width: 219px;
    height: 378px;
    margin-top: -9px;
}
.left_4 {
    width: 218px;
    height: 378px;
    margin-top: -9px;
}
.left_5 {
    width: 220px;
    height: 378px;
    margin-top: -9px;
}
